body {
    background-color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

body h1 {
    font-size: 75px;
}

body h2 {
    font-size: 50px;
}

.highlight:hover {
    background-color: #784a4a;
    color: white;
}

.recipe {
    height: auto;
    width: 50%;
}