body {
    background-color: antiquewhite;
}

.heading {
    color: rgb(156, 121, 87);
    font-size: 750%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.heading a:hover {
    background-color: #d24a4a;
    color: whitesmoke;
}

li {
    display: block;
    font-size: 250%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    padding: 50px;
}

li a:hover {
    background-color: #a94a4a;
    color:antiquewhite;
}